.image {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  border: 1px gainsboro solid;
  padding: 10px;
}

.date {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: grey;
}

.text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
}
