* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 583px;
  height: 609px;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 30px;
  font-family: "Inter";
}

.starDiv {
  margin-top: 16px;
  margin-right: 69px;
  display: flex;
  justify-content: end;
}

.switcher {
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 22px;
  height: 55px;
  background-color: hsla(200, 6%, 93%, 1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.switcher div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.activeButton {
  background-color: white;
}

.form {
  margin-top: 5px;
  margin-left: 115px;
  margin-right: 115px;
  display: grid;
}

.form p {
  font-weight: 500;
  font-size: 14px;
  margin-top: 22px;
}

.form input {
  margin-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  height: 56px;
  border: 1px solid #d8dadc;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.5);
  outline: none;
}

.acceptDiv {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #D8DADC;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkIcon {
  width: 8px;
  height: 6px;
}

.formButton {  
  color: white;
  height: 56px;
  background-color: hsla(238, 22%, 27%, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.authFormButton {
  margin-top: 74px;
  margin-bottom: 125px;
}

.regFormButton {
  margin-top: 19px;
  margin-bottom: 43px;
}