.counter {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: hsla(270, 60%, 30%, 1);
  color: white;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.value {
  text-align: center;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  padding: 20px;
  background-color: hsla(250, 60%, 80%, 1);
  border: none;
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
}
