.text {
    color: blue;
}

.authorizationFormDiv {
    height: 100vh;
    background-color: hsla(238, 22%, 27%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileCard {
    /* background-color: hsla(227, 11%, 15%, 1); */
    background-color: grey;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 40px;
    max-width: 1376px;
    margin: 0 auto;
}