.userForm {
    background-color: hsla(220, 60%, 40%, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
  }
  
  .label {
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between;
      width: 100%; */
  }
  
  .labelText {
      min-width: 80px;
  }
  
  .input {
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
  }
  
  .submit {
      height: 50px;
      max-width: max-content;
      min-width: 200px;
      color: white;
      border-radius: 10px;
      font-size: 18px;
  }
  