* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin:  0 auto;
  max-width: 317px;
  /* max-height: 780px; */
  display: grid;
}

.image {
  width: 100%;
}

.main {
  background-color: hsla(231, 12%, 12%, 1);    
}

.mainDark {
    background-color: hsla(0, 0%, 96%, 1);
}

.contentDiv {
  margin: 0 auto;
  max-width: 247px;
  background-color: hsla(231, 12%, 12%, 1);
  color: white;
  text-align: center;
}

.contentDivWhite {
  margin: 0 auto;
  max-width: 247px;
  background-color: hsla(0, 0%, 96%, 1);
  color: hsla(250, 18%, 19%, 1);
  text-align: center;
}

.name {
  margin-top: 21px;
  font-weight: 700;
  font-family: "Inter";
  font-size: 25px;
}

.status {
  margin-top: 6.19px;
  color: #f3bf99;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
}

.website {
  margin-top: 8.81px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
}

.buttonsDiv {
  margin-top: 15px;
  display: flex;
  gap: 17px;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr; 
  grid-template-rows: 34px;
  grid-gap: 17px; */
}

.buttonsDiv div {
  /* width: 115px; */
  width: 100%;
  height: 34px;
  border-radius: 6px;
  display: flex;
  gap: 9.33px;
  justify-content: center;
  align-items: center;
}

.emailBtn {
  background-color: white;
  border: 1px solid #d1d5db;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #374151;
}

.linkedinBtn {
  background-color: #5093e2;
  border: 1px solid #d1d5db;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.aboutDiv {
  margin-top: 33px;
  text-align: start;
}

.aboutDiv h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.aboutDiv p {
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
}

.interestsDiv {
  margin-top: 27px;
  text-align: start;
  margin-bottom: 31px;
}

.interestsDiv h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.interestsDiv p {
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
}

.footerDiv {
  background-color: hsla(231, 7%, 9%, 1);
  height: 64px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  display: flex;
  align-items: center;
}

.footerDivDark {
  background-color: hsla(255, 5%, 84%, 1);
  height: 64px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  display: flex;
  align-items: center;
}

.footerContent {  
  margin: 0 auto;
  width: 171px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}